a{
    color: #1E9CD0;
    text-decoration: none;
}

.btnColor{
    background-color: #1E9CD0;
    color: white;
}

.backgroundCustom{
    background-image: url(../assets/img/backgroundImg.png);
    background-repeat: no-repeat;
   background-size: cover;
}

.imgCarousel{
    width: 600px;
    height: 400px;
}
.imgCards{
    width: 100%;
    height: 150px;
}