a{
    color: #1E9CD0;
    text-decoration: none;
}

.btnColor{
    background-color: #1E9CD0;
    color: white;
}

.backgroundCustom{
    background-image: url(../assets/img/backgroundImg.png);
    background-repeat: no-repeat;
   background-size: cover;
}

.imgCarousel{
    width: 600px;
    height: 400px;
}
.imgCards{
    width: 100%;
    height: 150px;
}

.backgroundCard{
    background-image: url(../assets/img/mancha2Blue.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundCard1{
    background-image: url(../assets/img/mancha2Left.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundCard2{
    background-image: url(../assets/img/mancha1Blue.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundCard3{
    background-image: url(../assets/img/mancha1Right.png);
    background-repeat: no-repeat;
    background-size: cover;
}

table {
    border:1px !important;
    color: #1E9CD0;
}