a{
    color: #1E9CD0;
    text-decoration: none;
}

.btnColor{
    background-color: #1E9CD0;
    color: white;
}


.backgroundCustom{

    background-color: #1E9CD0;
}

@media (min-width: 768px){
    .backgroundCustom{
        background-image: url(../assets/img/backgroundImg.png);
        background-repeat: no-repeat;
       background-size: cover;
    }
}

.imgCarousel{
    width: 600px;
    height: 400px;
}
.imgCards{
    width: 100%;
    height: 150px;
}

.backgroundCard{
    background-image: url(../assets/img/mancha2Blue.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundCard1{
    background-image: url(../assets/img/mancha2Left.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundCard2{
    background-image: url(../assets/img/mancha1Blue.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundCard3{
    background-image: url(../assets/img/mancha1Right.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* .demo_wrap {
    position: relative;
    overflow: hidden;
    padding: 16px;
    border: 1px dashed #1E9CD0;
}
.demo_wrap h1 {
    padding: 100px;
    position: relative;
    z-index: 2;
}
.demo_wrap img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.1;
} */


.demo_wrap {
    position: relative;
    background: #1E9CD0;
    overflow: hidden;
}
.demo_wrap h5 {
    padding: 50px;
    position: relative;
    z-index: 2;
    color: black;
    text-shadow: 2px 2px white;
}
/* You could use :after - it doesn't really matter */
.demo_wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('../assets/img/undraw_delivery_truck_vt6p.svg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}
.demo_wrap2 {
    position: relative;
    background: #1E9CD0;
    overflow: hidden;
}
.demo_wrap2 h5 {
    padding: 50px;
    position: relative;
    z-index: 2;
    color: black;
    text-shadow: 2px 2px white;
}
/* You could use :after - it doesn't really matter */
.demo_wrap2:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('../assets/img/undraw_interview_re_e5jn.svg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}
.demo_wrap3 {
    position: relative;
    background: #1E9CD0;
    overflow: hidden;
}
.demo_wrap3 h5 {
    padding: 50px;
    position: relative;
    z-index: 2;
    color: black;
    text-shadow: 2px 2px white;
    
}
/* You could use :after - it doesn't really matter */
.demo_wrap3:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('../assets/img/undraw_order_ride_re_372k.svg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}
.demo_wrap4 {
    position: relative;
    background: #1E9CD0;
    overflow: hidden;
}
.demo_wrap4 h5 {
    padding: 50px;
    position: relative;
    z-index: 2;
    color: black;
    text-shadow: 2px 2px white;
}
/* You could use :after - it doesn't really matter */
.demo_wrap4:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('../assets/img/undraw_vehicle_sale_a645.svg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}
table {
    border:1px !important;
    color: #1E9CD0;
}


.logButton{
    position: absolute !important;
    bottom: 0 !important;
    width: 50%;
    margin-left: 25%;
}
